@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;;
    font-weight: 400;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: var(--Light-Gray);
}

main {
    width: 636px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px hsla(218, 22%, 67%, 0.42);
}

section {
    display: grid;
}

section + section {
    grid-template-columns: 1fr 1fr;
}

section:nth-of-type(1) {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

article {
    background-color: var(--Cyan);
    color: var(--Light-Gray);
}

article h3 {
    font-weight: 400;
}

article:nth-of-type(1) {
    border-bottom-left-radius: 10px;
}

article:nth-of-type(2) {
    opacity: 0.7;
    border-bottom-right-radius: 10px;
}

section:nth-of-type(1), article {
    padding: 45px 40px 40px 40px;
}

h1 {
    color: var(--Cyan);
    font-weight: 700;
}


section:nth-of-type(1) h3 {
    color: var(--Bright-Yellow);
    padding: 35px 0px 18px 0px;
}

section:first-of-type p {
    color: var(--Grayish-Blue);
}

section:last-of-type h3 {
    color: #fff;
    padding-bottom: 20px;
}

p {
    line-height: 2.5rem;
}

button {
    padding: 15px;
    width: 100%;
    background-color: var(--Bright-Yellow);
    font-size: inherit;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    color: #fff;
    box-shadow: 0px 5px 15px hsla(216, 6%, 31%, 0.32);
    cursor: pointer;
}

button:hover {
    background-color: hsl(71, 93%, 54%);
    transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}

li {
    list-style-type: none;
    line-height: 2.2rem;
    opacity: 0.8;
    font-size: 1.5rem;
}

strong {
    font-size: 3.5rem;
    color: #fff;
}

span {
    opacity: 0.6;
}

article:first-of-type p:first-of-type {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

article:first-of-type p:last-of-type {
    padding: 15px 0 30px 0;
}

@media screen and (max-width: 685px) {
    body {
        padding: 50px 32px;
    }
    main {
        width: 100%;
    }

    section:nth-of-type(1) {
        padding: 30px 25px 40px 25px;
    }

    article {
        padding: 25px;
    }

}

@media screen and (max-width: 555px) {
    section + section {
        grid-template-columns: none;
    }

    article:nth-of-type(1) {
        border-bottom-left-radius: 0;
    }
    
    article:nth-of-type(2) {
        border-radius: 0px 0px 10px 10px;
    }

    h1{
        font-size: 2rem;
    }

    section:first-of-type  h3  {
        font-size: 1.5rem;
    }
}
